body{background:linear-gradient(to right,#042A3F,aqua,#93C9F5,white);border: solid;border-radius: 15px}
h1{text-align: center;font-size: 35px;}
.h3-1{text-align: center}
.p1{text-align: center;font-size: 18px}
.h3-2{padding-left:25px;font-size: 23px;}
hgroup{padding-left:45px ;font-size: 19px;}
.h4-1{padding-left: 45px;font-size: 18px;}
ul{padding-left: 87px;list-style-type:circle ;font-size: 18px;}
div{text-align: center;}
.h{text-align: center;margin-left: 40px;font-size: 20px;border: solid;border-radius: 10px;}